---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<ul>
{% for talk in site.data.talks %}
  <li>
    <strong>{{ talk.title }}</strong><br>
    <em>{% if talk.event-link %}
      <a href="{{ talk.event-link }}" target="_blank">{{ talk.venue }}</a>
    {% else %}
      {{ talk.venue }}
    {% endif %}</em>
     — {{ talk.location }} ({{ talk.date }})
    {% if talk.slides %}
      [<a href="{{ talk.slides | relative_url }}" target="_blank">Slides</a>]
    {% endif %}
  </li>
  <br>
{% endfor %}
</ul>

<!-- 
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->